body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6fb;
    color: #333;
    text-align: center;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #2563eb;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.hero h2 {
    font-size: 28px;
}
.courses {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.card {
    background-color: white;
    padding: 25px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #1e40af;
}
footer {
    background-color: #1e40af;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
